
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Number of Vaccines Administered Per Week in Texas</h5>
        <p class="card-category">Shots Per Week</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 1/16/2021 | Data from Texas DSHS
        </div>
      </div>
    </div>
  </div>
</div>